* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    border: 2px solid black;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.header {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 10px;
    color: brown;
}

.main {
    height: 400px;
}

.footer {
    display: flex;
    height: 40px;
    border-top: 1px solid black;
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
}

input {
    width: 200px;
}

.note-adder {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
    line-height: 30px; 
}